---
import Banner from "../../components/Banner.astro";
import Contact from "../../components/ContactForm.astro";
import Layout from "../../layouts/Layout.astro";
import mowandedge from "../../assets/img/mow-edge.jpg";
import Card from "../../components/Card.astro";
import Image from "astro/components/Image.astro";
---

<Layout
  title="MVLandscape - Grass Cutting Service"
  description="MVLandscape offers professional mow and edge services to keep your lawn pristine and well-maintained. Our expert team uses top-of-the-line equipment and techniques to deliver a clean, even cut and precise edging. Contact us for reliable and professional grass cutting services."
>
  <main class="bg-white">
    <section
      class="hero-section relative w-full mx-auto py-[200px] bg-center bg-no-repeat bg-cover"
      style={{
        backgroundImage: `url(${mowandedge.src})`,
      }}
    >
      <div class="background-overlay"></div>

      <div
        class="container flex h-full px-8 items-start flex-wrap mx-auto relative z-50"
      >
        <div class="w-full flex items-start relative float-left">
          <h1 class="text-4xl font-bold">MOW and EDGING SERVICE</h1>
        </div>

        <div class="w-[85%] lg:w-[50%] flex items-start relative float-left">
          <div
            class="hero_button_container flex pt-14 items-center content-start flex-wrap relative w-full self-stretch"
          >
            <div class="w-full md:w-[80%] lg:w-full flex relative mb-20">
              <p class="bg-slate-50 bg-opacity-20 font-semibold md:p-3">
                Our grass cutting service ensures your lawn remains pristine and
                well-maintained throughout the year. We use top-of-the-line
                equipment and expert techniques to deliver a clean, even cut
                that promotes healthy grass growth. Whether you need regular
                maintenance or a one-time service, our team is dedicated to
                providing reliable and professional care. Trust us to keep your
                lawn looking its best, enhancing the beauty and value of your
                property.
              </p>
            </div>

            <div class="flex gap-3">
              <button
                class="bg-slate-300 rounded-lg py-3 px-5 hover:bg-slate-400 lg:hover:scale-105 transition-all lg:block lg:mx-auto"
                ><a class="font-semibold" href="#contact">CONTACT US</a></button
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <Banner />

    <div>
      <section class="py-10 bg-gunMetal">
        <div class="container mx-auto">
          <div
            class="flex flex-col-reverse flex-wrap lg:flex-row lg:flex-nowrap mx-auto"
          >
            <div class="mx-auto py-14 px-20 lg:w-[50%] lg:px-0">
              <h2 class="text-3xl font-bold pb-5 text-black">
                Your Professional Landscaping Team
              </h2>

              <p class="text-black mb-4 pr-10">
                MVLandscape is dedicated to transforming your outdoor spaces
                into beautiful, functional environments. With years of
                experience and a passion for excellence, we offer a range of
                services including design, maintenance, and installation. Our
                experts use the latest techniques and high-quality materials to
                ensure your landscape thrives. Trust us to bring your vision to
                life and enhance the beauty and value of your property.
              </p>

              <button
                class="inline-block font-bold cursor-pointer rounded-full bg-cafe px-4 py-3"
                ><a href="/contact">WORK WITH US</a></button
              >
            </div>

            <div class="lg:w-[45%]">
              <Image
                src={mowandedge}
                alt="MVLandscape Team Mowing and Edging Lawn"
                class="mx-auto p-4 lg:p-0"
              />
            </div>
          </div>
        </div>
      </section>

      <section class="py-10 bg-slate-100">
        <div class="container mx-auto">
          <div class="mx-auto py-14 px-20 lg:w-full">
            <h2 class="text-3xl font-bold pb-5">OUR GRASS CUTTING SERVICE</h2>

            <p class="mb-4 lg:pr-20 lg:w-[960px]">
              Our grass cutting service ensures your lawn remains pristine and
              well-maintained throughout the year. We use top-of-the-line
              equipment and expert techniques to deliver a clean, even cut that
              promotes healthy grass growth. Whether you need regular
              maintenance or a one-time service, our team is dedicated to
              providing reliable and professional care. Trust us to keep your
              lawn looking its best, enhancing the beauty and value of your
              property.
            </p>

            <div class="flex gap-4 flex-wrap pt-5">
              <Card
                title="Professional Equipment"
                body="We use top-of-the-line equipment to ensure a clean, even cut and precise edging, enhancing the overall appearance of your lawn."
              />
              <Card
                title="Consistent Maintenance"
                body="Regular mowing and edging keep your lawn looking pristine and well-maintained throughout the year, promoting healthy grass growth."
              />
              <Card
                title="Time-Saving"
                body="Hiring professionals saves you time and effort, allowing you to enjoy a beautiful lawn without the hassle of doing it yourself."
              />
              <Card
                title="Expert Techniques"
                body="Our team uses expert techniques to mow and edge your lawn, ensuring the best results and preventing damage to your grass."
              />
              <Card
                title="Enhanced Curb Appeal"
                body="A well-mowed and neatly edged lawn significantly enhances the curb appeal and value of your property, making it more attractive."
              />
            </div>
          </div>
        </div>
      </section>

      <section class="py-10 bg-gunMetal">
        <div class="container mx-auto">
          <div class="mx-auto px-20 lg:w-full lg:px-0">
            <h2 class="text-3xl font-bold pb-5 text-center text-black">
              WHY CHOOSE US?
            </h2>

            <p class="lg:w-[66.6%] lg:mx-auto text-black mb-4">
              Choosing MVLandscape ensures you receive exceptional service from
              a team of dedicated professionals passionate about transforming
              and maintaining your outdoor spaces. We use high-quality materials
              and the latest techniques to deliver outstanding results that
              enhance the beauty and value of your property. Our commitment to
              customer satisfaction means your project will be completed
              efficiently, on time, and within budget. Trust us to bring your
              vision to life.
            </p>

            <button
              class="inline-block font-bold cursor-pointer rounded-full bg-cafe px-4 py-3 lg:block lg:mx-auto"
              ><a href="/contact">WORK WITH US</a></button
            >
          </div>
        </div>
      </section>
    </div>

    <Banner />

    <Contact />
  </main>
</Layout>

<style>
  .content {
    background: pink;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .trans-test {
    display: block;
    width: 400px;
    height: 40px;
    visibility: visible;
    transition: all 0.8s ease-in-out;
    background: blue;
  }
</style>

<script>
  document.querySelector(".btn-click")?.addEventListener("click", () => {
    document.querySelector(".content")?.classList.toggle("trans-test");
  });
</script>
