---
import Banner from "../../components/Banner.astro";
import Card from "../../components/Card.astro";
import Contact from "../../components/ContactForm.astro";
import Layout from "../../layouts/Layout.astro";
// import houseWashing from "../../assets/img/house-wash-1.jpg";
---

<Layout title="MVLandscape - Planting Service">
  <main class="bg-white">
    <section
      class="hero-section relative w-full mx-auto py-[200px] bg-home-hero bg-center bg-no-repeat bg-cover"
    >
      <div class="background-overlay"></div>

      <div
        class="container flex h-full px-8 items-start flex-wrap mx-auto relative z-50"
      >
        <div class="w-full flex items-start relative float-left">
          <h1 class="text-4xl font-bold">PLANTING SERVICE</h1>
        </div>

        <div class="w-[85%] lg:w-[65%] flex items-start relative float-left">
          <div
            class="hero_button_container flex pt-14 items-center content-start flex-wrap relative w-full self-stretch"
          >
            <div class="w-full md:w-[80%] lg:w-[90%] flex relative mb-20">
              <p class="bg-slate-50 bg-opacity-20 font-semibold md:p-3">
                Our planting service enhances your garden with a variety of
                beautiful and healthy plants. Whether you're looking to add
                seasonal color, create a lush garden, or establish a sustainable
                landscape, our expert team is here to help. We carefully select
                and plant species that thrive in your environment, ensuring
                long-lasting beauty and growth. Trust us to transform your
                outdoor space into a vibrant and inviting oasis.
              </p>
            </div>

            <div class="flex gap-3">
              <button
                class="bg-slate-300 rounded-lg py-3 px-5 hover:bg-slate-400 lg:hover:scale-105 transition-all lg:py-4 lg:px-6"
                ><a class="font-semibold" href="#contact">CONTACT US</a></button
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <Banner />

    <div class="">
      <section class="py-10 bg-gunMetal">
        <div class="container mx-auto">
          <div
            class="flex flex-col-reverse flex-wrap lg:flex-row lg:flex-nowrap mx-auto"
          >
            <div class="mx-auto py-14 px-20 lg:w-[50%] lg:px-0">
              <h2 class="text-3xl font-bold pb-5 text-black">
                Your Professional Landscaping Team
              </h2>

              <p class="text-black mb-4 pr-10">
                MVLandscape is dedicated to transforming your outdoor spaces
                into beautiful, functional environments. With years of
                experience and a passion for excellence, we offer a range of
                services including design, maintenance, and installation. Our
                experts use the latest techniques and high-quality materials to
                ensure your landscape thrives. Trust us to bring your vision to
                life and enhance the beauty and value of your property.
              </p>

              <button
                class="inline-block font-bold cursor-pointer rounded-full bg-cafe px-4 py-3"
                ><a href="/contact">WORK WITH US</a></button
              >
            </div>

            <div class="lg:w-[45%]">
              <!-- <img
                src={houseWashing.src}
                alt="A man power washing a house"
                class="mx-auto p-4 lg:p-0"
              /> -->
            </div>
          </div>
        </div>
      </section>

      <section class="py-10">
        <div class="container mx-auto">
          <div class="mx-auto py-14 px-20 lg:w-full">
            <h2 class="text-3xl font-bold pb-5">OUR PLANTING SERVICE</h2>

            <p class="mb-4 lg:pr-20 lg:w-[960px]">
              Our planting service is designed to bring life and color to your
              garden. We specialize in selecting and planting a diverse range of
              flora that will thrive in your specific environment. Whether
              you're aiming for a vibrant flower bed, a serene garden, or a
              sustainable landscape, our team of experts will ensure your vision
              is realized. With our professional care, your garden will
              flourish, adding beauty and value to your property.
            </p>

            <div class="flex gap-4 flex-wrap pt-5">
              <Card
                title="Enhance Curb Appeal"
                body="Regular power washing can remove dirt, grime, and mold, making your home look clean and well-maintained, which can significantly enhance its curb appeal."
              />
              <Card
                title="Prevent Damage"
                body="Accumulated dirt, mold, and mildew can cause damage to your home's exterior surfaces over time. Power washing helps prevent this damage, extending the life of your siding, deck, and other exterior features."
              />
              <Card
                title="Health Benefits"
                body="Mold, mildew, and algae can pose health risks to your family. Power washing removes these harmful substances, contributing to a healthier living environment."
              />
              <Card
                title="Increase Property Value"
                body="A clean and well-maintained home exterior can increase your property's value, making it more attractive to potential buyers if you decide to sell."
              />
              <Card
                title="Save Time and Effort"
                body="Power washing is a quick and efficient way to clean large exterior surfaces, saving you time and effort compared to traditional cleaning methods."
              />
            </div>
          </div>
        </div>
      </section>

      <section
        class="py-10 bg-gunMetal lg:py-14 lg:h-[550px] lg:flex lg:justify-center lg:items-center"
      >
        <div class="container mx-auto">
          <div class="mx-auto px-20 lg:w-full lg:px-0">
            <h2 class="text-3xl font-bold pb-5 text-center text-black lg:pb-10">
              WHY CHOOSE US?
            </h2>

            <p class="lg:w-[66.6%] lg:mx-auto text-black mb-4">
              Choosing MVLandscape ensures you receive exceptional service from
              a team of dedicated professionals passionate about transforming
              and maintaining your outdoor spaces. We use high-quality materials
              and the latest techniques to deliver outstanding results that
              enhance the beauty and value of your property. Our commitment to
              customer satisfaction means your project will be completed
              efficiently, on time, and within budget. Trust us to bring your
              vision to life.
            </p>

            <button
              class="inline-block font-bold cursor-pointer rounded-full bg-cafe px-4 py-3 lg:block lg:mx-auto"
              ><a href="/contact">WORK WITH US</a></button
            >
          </div>
        </div>
      </section>
    </div>

    <Banner />

    <Contact />
  </main>
</Layout>

<style>
  .content {
    background: pink;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .trans-test {
    display: block;
    width: 400px;
    height: 40px;
    visibility: visible;
    transition: all 0.8s ease-in-out;
    background: blue;
  }
</style>

<script>
  document.querySelector(".btn-click")?.addEventListener("click", () => {
    document.querySelector(".content")?.classList.toggle("trans-test");
  });
</script>
