---
import Banner from "../../components/Banner.astro";
import Card from "../../components/Card.astro";
import Contact from "../../components/ContactForm.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="MVLandscape - Sprinkler Installation Service"
  description="MVLandscape offers professional sprinkler installation services to keep your landscape lush and well-watered. Our expert team designs and installs efficient sprinkler systems tailored to your specific needs, using high-quality materials and the latest technology. Contact us for reliable and professional sprinkler installation services."
>
  <main class="bg-white">
    <section
      class="hero-section relative w-full mx-auto py-[200px] bg-roof-hero bg-center bg-no-repeat bg-cover"
    >
      <div class="background-overlay"></div>

      <div
        class="container flex h-full px-8 items-start flex-wrap mx-auto relative z-50"
      >
        <div class="w-full flex items-start relative float-left">
          <h1 class="text-4xl font-bold">SPRINKLER INSTALLATION SERVICE</h1>
        </div>

        <div class="w-[85%] lg:w-[65%] flex items-start relative float-left">
          <div
            class="hero_button_container flex pt-14 items-center content-start flex-wrap relative w-full self-stretch"
          >
            <div class="w-full md:w-[80%] lg:w-[90%] flex relative mb-20">
              <p class="bg-slate-50 bg-opacity-20 font-semibold md:p-3">
                Our sprinkler installation service ensures your landscape
                remains lush and well-watered. We design and install efficient
                sprinkler systems tailored to your specific needs, using
                high-quality materials and the latest technology. Our expert
                team provides reliable and professional installation, ensuring
                optimal water distribution and conservation. Trust us to keep
                your lawn and garden thriving with our top-notch sprinkler
                installation service.
              </p>
            </div>

            <div class="flex gap-3">
              <button
                class="bg-slate-300 rounded-lg py-3 px-5 hover:bg-slate-400 lg:hover:scale-105 transition-all lg:py-4 lg:px-6"
                ><a class="font-semibold" href="#contact">CONTACT US</a></button
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <Banner />

    <div class="">
      <section class="py-10 bg-gunMetal">
        <div class="container mx-auto">
          <div
            class="flex flex-col-reverse flex-wrap lg:flex-row lg:flex-nowrap mx-auto"
          >
            <div class="mx-auto py-12 px-16 lg:w-[50%] lg:px-0">
              <h2 class="text-3xl font-bold pb-5 text-black">
                Your Professional Landscaping Team
              </h2>

              <p class="text-black mb-4 pr-10">
                MVLandscape is dedicated to transforming your outdoor spaces
                into beautiful, functional environments. With years of
                experience and a passion for excellence, we offer a range of
                services including design, maintenance, and installation. Our
                experts use the latest techniques and high-quality materials to
                ensure your landscape thrives. Trust us to bring your vision to
                life and enhance the beauty and value of your property.
              </p>

              <button
                class="inline-block font-bold cursor-pointer rounded-full bg-pastelRed px-4 py-3"
                ><a href="/contact">WORK WITH US</a></button
              >
            </div>

            <div class="lg:w-[45%]">
              <!-- <img
                src={roofWashing.src}
                alt="A man power washing the roof of a house"
                class="mx-auto p-4 lg:p-0"
              /> -->
            </div>
          </div>
        </div>
      </section>

      <section class="py-10 bg-slate-100">
        <div class="container mx-auto">
          <div class="mx-auto py-14 px-20 lg:w-[960px] lg:px-0">
            <h2 class="text-3xl font-bold pb-5">
              OUR SPRINKLER INSTALLATION SERVICE
            </h2>

            <p class="mb-4 lg:pr-20">
              Our sprinkler installation service ensures your landscape remains
              lush and well-watered. We design and install efficient sprinkler
              systems tailored to your specific needs, using high-quality
              materials and the latest technology. Our expert team provides
              reliable and professional installation, ensuring optimal water
              distribution and conservation. Trust us to keep your lawn and
              garden thriving with our top-notch sprinkler installation service.
            </p>

            <div class="flex gap-4 flex-wrap pt-5">
              <Card
                title="Extend Roof Lifespan"
                body="Regular power washing removes harmful elements like algae and moss, preventing damage and extending the life of your roof."
              />
              <Card
                title="Improve Curb Appeal"
                body="A clean roof enhances the overall appearance of your home, making it look well-maintained and attractive."
              />
              <Card
                title="Prevent Costly Repairs"
                body="By eliminating debris and buildup, power washing helps prevent potential damage that could lead to expensive repairs."
              />
              <Card
                title="Increase Energy Efficiency"
                body="A clean roof reflects sunlight more effectively, helping to keep your home cooler and reducing energy costs."
              />
              <Card
                title="Health Benefits"
                body="Removing mold and mildew from your roof can improve the air quality around your home, contributing to a healthier living environment."
              />
            </div>
          </div>
        </div>
      </section>

      <section class="py-10 bg-gunMetal">
        <div class="container mx-auto">
          <div class="mx-auto px-20 lg:w-full lg:px-0">
            <h2 class="text-3xl font-bold pb-5 text-center text-black">
              WHY CHOOSE US?
            </h2>

            <p class="lg:w-[66.6%] lg:mx-auto text-black mb-4">
              Choosing MVLandscape ensures you receive exceptional service from
              a team of dedicated professionals passionate about transforming
              and maintaining your outdoor spaces. We use high-quality materials
              and the latest techniques to deliver outstanding results that
              enhance the beauty and value of your property. Our commitment to
              customer satisfaction means your project will be completed
              efficiently, on time, and within budget. Trust us to bring your
              vision to life.
            </p>

            <button
              class="inline-block font-bold cursor-pointer rounded-full bg-cafe px-4 py-3 lg:block lg:mx-auto"
              ><a href="/contact">WORK WITH US</a></button
            >
          </div>
        </div>
      </section>
    </div>

    <Banner />

    <Contact />
  </main>
</Layout>

<style>
  .content {
    background: pink;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .trans-test {
    display: block;
    width: 400px;
    height: 40px;
    visibility: visible;
    transition: all 0.8s ease-in-out;
    background: blue;
  }
</style>

<script>
  document.querySelector(".btn-click")?.addEventListener("click", () => {
    document.querySelector(".content")?.classList.toggle("trans-test");
  });
</script>
