---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <main class="bg-white">
    <section class="about-section w-full mx-auto py-[200px] bg-white">
      <div class="background-overlay"></div>

      <div
        class="container flex h-full px-8 item-start flex-wrap mx-auto relative"
      >
        <div class="w-full flex items-start relative">
          <h1>About</h1>
        </div>

        <div class="w-[65%] lg:w-[50%] flex items-start relative">
          <div
            class="flex pt-14 items-center content-start flex-wrap relative w-full self-stretch"
          >
            <div class="w-[80%] flex relative mb-20">
              <p>
                Create your business, your vision, your online presence with A
                Geek Studio web design and web development expertise.
              </p>
            </div>

            <div class="flex gap-3">
              <button
                class="bg-slate-300 rounded-lg py-3 px-5 hover:bg-slate-400 lg:hover:scale-105 transition-all"
                >Our Services</button
              >

              <button
                class="bg-slate-300 rounded-lg py-3 px-5 hover:bg-slate-400 lg:hover:scale-105 transition-all"
                >Contact Us</button
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container mx-auto py-20">
        <div class="flex justify-center px-20">
          <div class="w-[50%]">
            <h2 class="text-4xl font-bold">
              Expert Landscape Design, Installation & Maintenance
            </h2>
            <p>FOUNDED IN 2018</p>
            <p class="py-5">
              In 2018, Alfredo and Maria Barillas started their landscaping
              business with a tiny truck and a few tools. Today, MVLandscape is
              a full-service landscaping company with a team of professionals
              who are passionate about creating beautiful outdoor spaces. From
              starting with a few residential clients, we now serve commercial
              clients as well. We are proud to be a family-owned and operated
              business that is dedicated to providing exceptional service to our
              clients.
            </p>
          </div>

          <div class="w-[50%]">
            <img
              src="/img/about.jpg"
              alt="About"
              class="w-full h-full object-cover"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="bg-[#4E8561]">
      <div class="p-20">
        <div>
          <h2 class="text-4xl font-bold text-center pb-10">What Defines Us</h2>
        </div>

        <div>
          <div class="flex justify-center">
            <div class="w-[33.3%]">
              <h3 class="text-2xl font-bold">Quality</h3>
              <p>
                We are committed to providing the highest quality landscaping
                services to our clients. Our team of professionals is dedicated
                to creating beautiful outdoor spaces that are designed to last.
              </p>
            </div>

            <div class="w-[33.3%]">
              <h3 class="text-2xl font-bold">Customer Service</h3>

              <p>
                We believe in providing exceptional customer service to our
                clients. Our team is dedicated to ensuring that our clients are
                satisfied with the work that we do.
              </p>
            </div>

            <div class="w-[33.3%]">
              <h3 class="text-2xl font-bold">Reliable Service</h3>
              <p>
                We understand that our clients rely on us to provide
                high-quality landscaping services. We are committed to providing
                reliable service that our clients can depend on.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
