---
import Banner from "../components/Banner.astro";
import Contact from "../components/ContactForm.astro";
import Layout from "../layouts/Layout.astro";
import mowandedge from "../assets/img/mow-edge.jpg";
import Card from "../components/Card.astro";
import Image from "astro/components/Image.astro";
---

<Layout
  title="MVLandscape - #1 Landscape Company in Eastvale, California"
  description="MVLandscape offers top-notch landscaping services in Eastvale, CA. Our experienced team provides design, installation, and maintenance to enhance the beauty and value of your property."
>
  <main class="bg-white">
    <section
      class="hero-section relative w-full mx-auto py-[200px] bg-hero-section bg-center bg-no-repeat bg-cover"
    >
      <div class="background-overlay"></div>

      <div
        class="container flex h-full px-8 items-start flex-wrap mx-auto relative z-50"
      >
        <div class="w-full flex items-start relative float-left">
          <h1 class="text-4xl font-bold">
            The Best Landscape Company <br />in Eastvale, California
          </h1>
        </div>

        <div class="w-[85%] lg:w-[50%] flex items-start relative float-left">
          <div
            class="hero_button_container flex pt-14 items-center content-start flex-wrap relative w-full self-stretch"
          >
            <div class="w-full md:w-[80%] lg:w-full flex relative mb-20">
              <p class="bg-slate-50 bg-opacity-20 font-semibold md:p-3">
                MVL Landscape is the best in Eastvale, CA, because of our
                dedication to excellence and customer satisfaction. Our team of
                experienced professionals offers a wide range of services, from
                design and installation to maintenance, ensuring your outdoor
                spaces are always beautiful and functional. We use high-quality
                materials and the latest techniques to deliver outstanding
                results. Trust us to enhance the beauty and value of your
                property with our expert landscaping services, making us the top
                choice for all your landscaping needs.
              </p>
            </div>

            <div class="flex gap-3">
              <button
                class="bg-slate-300 rounded-lg py-3 px-5 hover:bg-slate-400 lg:hover:scale-105 transition-all lg:block lg:mx-auto"
                ><a
                  class="font-semibold"
                  href="https://www.mvlandscape.net/contact">CONTACT US</a
                ></button
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <Banner />

    <div>
      <section class="py-10 bg-gunMetal">
        <div class="container mx-auto">
          <div
            class="flex flex-col-reverse flex-wrap lg:flex-row lg:flex-nowrap mx-auto"
          >
            <div class="mx-auto py-14 px-20 lg:w-[50%] lg:px-0">
              <h2 class="text-3xl font-bold pb-5 text-black">
                Your Professional Landscaping Team
              </h2>

              <p class="text-black mb-4 pr-10">
                MVLandscape is dedicated to transforming the outdoor spaces of
                Eastvale, CA into beautiful, functional environments. With years
                of experience and a passion for excellence, we offer a range of
                services including design, maintenance, and installation. Our
                experts use the latest techniques and high-quality materials to
                ensure your landscape thrives. Trust us to bring your vision to
                life and enhance the beauty and value of your property in
                Eastvale.
              </p>

              <button
                class="inline-block font-bold cursor-pointer rounded-full bg-cafe px-4 py-3"
                ><a href="https://www.mvlandscape.net/contact">WORK WITH US</a
                ></button
              >
            </div>

            <div class="lg:w-[45%]">
              <Image
                src={mowandedge}
                alt="MVLandscape Team Mowing and Edging Lawn"
                class="mx-auto p-4 lg:p-0"
              />
            </div>
          </div>
        </div>
      </section>

      <section class="py-9 bg-slate-100 lg:py-12" id="services">
        <div class="container mx-auto text-center px-8">
          <h2 class="text-4xl font-bold lg:text-5xl pb-3">OUR SERVICES</h2>

          <p class="w-full md:w-[75%] lg:w-[75%] mx-auto lg:py-4">
            At <span class="font-bold">MVLandscape</span>, we offer expert
            landscaping solutions to transform your outdoor space in Eastvale,
            CA. From creative design and garden maintenance to hardscaping and
            irrigation, our skilled team delivers exceptional results tailored
            to your vision. Whether you need a complete overhaul or regular
            care, we ensure your landscape is both beautiful and functional.
            Discover how our services can enhance your outdoor environment in
            Eastvale.
          </p>

          <div
            class="flex gap-6 flex-wrap pt-5 lg:gap-4 md:gap-y-7 lg:gap-y-11"
          >
            <Card
              title="GRASS CUTTING SERVICE"
              body="Expert grass cutting for a pristine, well-maintained lawn year-round."
              link="https://www.mvlandscape.net/services/grass-cutting"
              isService
            />
            <Card
              title="LANDSCAPE DESIGN SERVICE"
              body="Transform your outdoor space with our expert landscape design service."
              link="https://www.mvlandscape.net/services/landscape-design"
              isService
            />
            <Card
              title="PLANTING SERVICE"
              body="Enhance your garden with our professional planting service."
              link="https://www.mvlandscape.net/services/planting"
              isService
            />
            <Card
              title="TREE TRIMMING SERVICE"
              body="Professional tree trimming for healthy, beautiful, and safe trees."
              link="https://www.mvlandscape.net/services/tree-trimming"
              isService
            />
            <Card
              title="SPRINKLER INSTALLATION SERVICE"
              body="Efficient sprinkler installation for a lush, well-watered landscape."
              link="https://www.mvlandscape.net/services/sprinkler-installation"
              isService
            />

            <Card
              title="CLEAN UP SERVICE"
              body="Thorough clean-up service to keep your outdoor space neat and tidy."
              link="https://www.mvlandscape.net/services/clean-up"
              isService
            />
          </div>
        </div>
      </section>

      <section class="py-10 bg-gunMetal">
        <div class="container mx-auto">
          <div class="mx-auto px-20 lg:w-full lg:px-0">
            <h2 class="text-3xl font-bold pb-5 text-center text-black">
              WHY CHOOSE US?
            </h2>

            <p class="lg:w-[66.6%] lg:mx-auto text-black mb-4">
              Choosing MVLandscape ensures you receive exceptional service from
              a team of dedicated professionals passionate about transforming
              and maintaining your outdoor spaces in Eastvale, CA. We use
              high-quality materials and the latest techniques to deliver
              outstanding results that enhance the beauty and value of your
              property. Our commitment to customer satisfaction means your
              project will be completed efficiently, on time, and within budget.
              Trust us to bring your vision to life in Eastvale.
            </p>

            <button
              class="inline-block font-bold cursor-pointer rounded-full bg-cafe px-4 py-3 lg:block lg:mx-auto"
              ><a href="https://www.mvlandscape.net/contact">WORK WITH US</a
              ></button
            >
          </div>
        </div>
      </section>
    </div>

    <Banner />

    <!-- <Contact /> -->
  </main>
</Layout>

<style>
  .content {
    background: pink;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .trans-test {
    display: block;
    width: 400px;
    height: 40px;
    visibility: visible;
    transition: all 0.8s ease-in-out;
    background: blue;
  }
</style>

<script>
  document.querySelector(".btn-click")?.addEventListener("click", () => {
    document.querySelector(".content")?.classList.toggle("trans-test");
  });
</script>
