<footer class="bg-slate-200 py-10">
  <div
    class="block container text-center mx-auto lg:flex justify-between items-center px-4"
  >
    <div>
      <a href="/">
        <img src="/img/logo.svg" alt="MVLandscape" class="w-16 h-16 mx-auto" />
      </a>
    </div>

    <div>
      <h2 class="text-2xl font-bold">MVLandscape</h2>
      <p>
        @ 2021 MVLandscape | <a href="/sitemap.xml">SITEMAP</a> | <a
          href="/terms">TERMS & CONDITIONS</a
        > | <a href="/privacy">PRIVACY</a>
      </p>
    </div>
  </div>
</footer>
