---

---

<div class="hamburger pr-5 h-9 cursor-pointer lg:hidden lg:w-0">
  <span
    class="line block w-10 h-1 mb-3 bg-white data-[toggle=open]:bg-transparent before:content-[''] before:relative before:inline-block before:w-10 before:h-1 before:left-0 before:bg-white before:data-[toggle=open]:rotate-[-135deg] after:data-[toggle=open]:top-[-1.45rem] before:transition-all after:content-[''] after:relative after:inline-block after:w-10 after:h-1 after:top-[-9px] after:left-0 after:bg-white after:transition-all after:data-[toggle=open]:rotate-[135deg] transition-all"
  ></span>
</div>

<script>
  document.querySelector(".hamburger")?.addEventListener("click", () => {
    const body = document.querySelector("body");
    const nav_links = document.querySelector(".nav-links");
    const nav_span = document.querySelector(".line");
    const navigation_background = document.querySelector(".hamburger");
    const services_dropdown = document.querySelector(".services-dropdown");

    if (navigation_background?.getAttribute("data-toggle") === "open") {
      if (body !== null) body.style.overflowY = "scroll";

      nav_span?.setAttribute("data-toggle", "close");
      navigation_background?.setAttribute("data-toggle", "close");
      services_dropdown?.classList.remove("show_services");
    } else {
      if (body !== null) body.style.overflowY = "hidden";

      nav_span?.setAttribute("data-toggle", "open");
      navigation_background?.setAttribute("data-toggle", "open");
    }

    nav_links?.classList.toggle("show");
  });
</script>
