---
import Hamburger from "./Hamburger.astro";

const navigation_links = {
  main: ["Home", "About", "Services"],
};
---

<header class="header-navigation bg-white">
  <nav class="nav flex flex-row justify-between items-center text-black p-5">
    <div>
      <a href="/">MVLandscape</a>
    </div>

    <Hamburger />

    <ul
      class="nav-links bg-pink-50 flex flex-col bg-pink fixed top-0 bottom-0 left-0 right-[37%] text-center items-stretch justify-around z-10 transform: translate-x-[-100%] transition ease-in-out transition-duration-[0.5s] lg:transform-none lg:flex-row lg:relative lg:bg-transparent"
    >
      <li class="hover:bg-slate-200">
        <a class="inline-block p-[calc(100vh/8)] lg:p-5" href="/">Home</a>
      </li>
      <li class="hover:bg-slate-200">
        <a class="inline-block p-[calc(100vh/8)] lg:p-5" href="/about">About</a>
      </li>
      <li
        class="services inline-block p-[calc(100vh/8)] lg:p-5 hover:bg-slate-200 hover:cursor-pointer"
      >
        Services
        <ul
          class="services-dropdown hidden absolute bg-pink-50 min-w-[135px] right-[-125px] z-[1] transition ease-in-out transition-duration-[0.5s] lg:right-[-19px] lg:bg-slate-50 lg:top-[64px]"
        >
          <a
            class="text-black py-3 px-4 block hover:bg-[#ddd]"
            href="/services/residential">Residential Services</a
          >
          <a
            class="text-black py-3 px-4 block hover:bg-[#ddd]"
            href="/services/commerical">Commerical Services</a
          >
        </ul>
      </li>
      <li class="hover:bg-slate-200">
        <a href="/contact-us" class="inline-block p-[calc(100vh/8)] lg:p-5"
          >Contact Us</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .expanded {
    display: block !important;
    width: 155px !important;
    height: 300px !important;
    z-index: 1;
    visibility: visible !important;
    transition: all 0.5s ease-in-out;
  }

  .show {
    transform: translateX(0) !important;
  }

  .show_services {
    display: block;
  }

  @media screen and (max-width: 636px) {
    .hamburger {
      display: block;
      transition: all 0.3s ease-in-out;
    }
  }
</style>

<script>
  const service_dropDown = document.querySelector(".services-dropdown");

  document.querySelector(".services")?.addEventListener("click", () => {
    service_dropDown?.classList.toggle("show_services");
  });

  document.querySelector("main")?.addEventListener("click", () => {
    if (service_dropDown?.classList.contains("show_services")) {
      service_dropDown.classList.remove("show_services");
    }
  });
</script>
